@let paintName = this.paintName();
<h2 mat-dialog-title>{{ paintName }}</h2>

<mat-dialog-content class="with-form"
  ><form [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Paint Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error>A name must be provided.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Series Name</mat-label>
      <input matInput placeholder="Series" formControlName="series" />
    </mat-form-field>
    <div class="color">
      <mat-form-field class="color">
        <mat-label>Color</mat-label>
        <input matInput placeholder="Hex" formControlName="color" required />
        @if (!formGroup.get("color")?.hasError("required")) {
          <mat-hint>Must include the '#' value.</mat-hint>
        }
        @if (formGroup.get("color")?.hasError("required")) {
          <mat-error>This paint <strong>must</strong> have a color!</mat-error>
        }
        @if (formGroup.get("color")?.hasError("pattern")) {
          <mat-error>Invalid hex color value.</mat-error>
        }
      </mat-form-field>
      @if (formGroup.get("color")?.valid) {
        <div class="color" [style.background-color]="this.currentColor()">
          &nbsp;
        </div>
      }
    </div>
  </form></mat-dialog-content
>

<mat-dialog-actions>
  <button mat-flat-button (click)="onCommit()" (keydown)="onCommit()">
    Commit
  </button>
  <button mat-stroked-button mat-dialog-close cdkFocusInitial>Cancel</button>
</mat-dialog-actions>
