@use "@angular/material" as mat;

:host mat-dialog-content.with-form {
  padding-top: 2rem;

  form {
    display: flex;
    flex-direction: column;

    mat-form-field {
      margin-bottom: 2.5rem;
      width: 15rem;

      &.color {
        width: 13rem;
        margin-bottom: 0;
      }

      mat-error {
        position: absolute;
      }
    }

    div.color {
      display: flex;
      flex-direction: row;
      align-items: center;
      div.color {
        height: 2rem;
        width: 2rem;
        margin-left: 2rem;
        margin-bottom: 1.5rem;
        @include mat.elevation(2);
      }
    }
  }
}
