@let paintComparisonRows = this.paintRows();
@let displayedColumns = this.displayedColumns();

{{ paintComparisonRows.length }}
@if (paintComparisonRows && displayedColumns) {
  <table mat-table [dataSource]="paintComparisonRows">
    <ng-container matColumnDef="BasePaintInfo">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
        {{ element.basePaint.name }}<br />{{ element.basePaint.brand }} -
        {{ element.basePaint.series }}
      </td>
    </ng-container>

    <ng-container matColumnDef="BasePaintColor">
      <th mat-header-cell *matHeaderCellDef>Base Color</th>
      <td mat-cell *matCellDef="let element">
        <div [style]="{ 'background-color': element.basePaint.color }">
          &nbsp;
        </div>
      </td>
    </ng-container>

    @for (column of columns(); track column) {
      <ng-container [matColumnDef]="column.definition">
        <th mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let row">
          @let thePaint = column.paint(row);
          {{ thePaint?.series }} - {{ thePaint?.name }}<br />
          {{ thePaint?.color }}
        </td>
      </ng-container>

      <ng-container [matColumnDef]="column.definition + 'Color'">
        <th mat-header-cell *matHeaderCellDef>Color</th>
        <td mat-cell *matCellDef="let row">
          @let thePaint = column.paint(row);
          <div
            class="comparison-color"
            [style]="{ 'background-color': thePaint?.color }"
          >
            <div
              class="base-color"
              [style]="{ 'background-color': row.basePaint.color }"
            >
              &nbsp;
            </div>
          </div>
        </td>
      </ng-container>
    }

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
}
